@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #F4F0EA;
    color: #798252;
    text-align: center;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column; /* empilha verticalmente */
    height: 100vh; /* altura total da tela */
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.Parte1 {
    flex: 1;
    background-color: #F4F0EA;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: #798252;
    padding: 20px;
}

.sobre {
    display: flex;
    align-items: center;
    gap: 30px;
}

/*mobile*/
@media (max-width: 768px) {
  .sobre {
    flex-direction: column;
    gap: 12px;
    text-align: center;
  }

  .Parte1 {
    padding: 12px;
  }
}

.sobre img {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
}

.texto {
    max-width: 37.5rem;
}

.Parte2 {
    flex: 1;
    background-color: #331F19;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F4F0EA;
    padding: 20px;
}

.Parte2-content {
  width: 100%;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

/* mobile */
@media (max-width: 768px) {
  .Parte2-content {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    text-align: left;
  }
}

.Parte2 h2 {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .Parte2 h2 {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }
}

.Parte2 ul {
  list-style: none;
  padding: 0;
}

.Parte2 li {
  margin-bottom: 8px;
}

.Parte2 a{
    text-decoration: none;
    color: #798252;
}

.informação {
    display: flex;
    align-items: center;
    gap: 5rem;
}

footer {
    background-color: #331F19;
    color: #F4F0EA;
    text-align: center;
}

footer a{
    color: #798252;
}